---
interface Props {
    title: string;
    description?: string;
    href: string;
    imgSrc?: string;
    variant?: string;
    className?: string;
}

const { title, description, href, imgSrc, variant = 'default', className = "" } = Astro.props;

// Determine grid classes based on variant
let gridClass = "";
switch (variant) {
    case 'wide':
        gridClass = "lg:col-span-2";
        break;
    case 'vertical':
        gridClass = "col-span-1 lg:col-span-1 lg:row-span-2";
        break;
    case 'big':
        gridClass = "lg:col-span-2 lg:row-span-2";
        break;
    case 'none':
        gridClass = "lg:col-span-2";
        break;
    default:
        gridClass = "col-span-1 lg:col-span-1";
}

// Determine if this is a wide variant for layout purposes
const isWideVariant = variant === 'wide';
---

<a 
    href={href}
    class={`${variant !== 'none' ? 'bg-primary/60 border-2 hover:shadow-secondary hover:shadow' : ''} w-full h-full rounded-3xl border-white/20  hover:scale-105 transition-all duration-300 hover:border-secondary/15 ${gridClass} ${className}`}
>
    <article class="relative h-full w-full overflow-hidden p-4 flex flex-col justify-between">
        {isWideVariant ? (
            <article class="flex flex-col md:flex-row justify-center items-center sm:justify-between h-full w-full sm:px-4 max-sm:py-6">
                <div class="flex-1 pr-4 z-20">
                    <h3 class="text-white font-bold text-3xl sm:text-2xl md:text-3xl mb-2">{title}</h3>
                    {description && <p class="text-white text-lg md:text-xl">{description}</p>}
                </div>
                <div class="flex-1 flex items-center justify-end">
                    <div class="rounded-2xl z-10 overflow-hidden w-full md:w-auto max-sm:max-h-48 max-sm:max-w-xs  h-auto md:h-full md:aspect-square shadow shadow-primary rotate-4">
                        <img 
                            src={imgSrc} 
                            alt={title} 
                            class="h-full w-full object-cover"
                            loading="lazy"
                        />
                    </div>
                    <div class="absolute rounded-2xl w-full md:w-auto max-sm:max-h-48 max-sm:max-w-xs h-auto lg:h-full -rotate-4">
                        <img src={imgSrc}  alt={title} 
                            class="h-full w-full object-cover blur-xl -z-20 transition"
                            loading="lazy"
                        >
                    </div>
                </div>
            </article>
        ) : variant === 'vertical' ? (
            <article class="py-4 flex flex-col justify-between items-center h-full">
                <div>
                    <h3 class="text-white font-bold text-3xl sm:text-2xl md:text-3xl">{title}</h3>
                    {description && <p class="text-white text-lg md:text-xl">{description}</p>}
                </div>
                <div class="flex max-md:flex-col items-center justify-center mb-6">
                    <div class="rounded-2xl z-10 overflow-hidden w-full h-auto max-w-xs shadow shadow-primary rotate-4">
                        <img 
                            src={imgSrc} 
                            alt={title} 
                            class="h-full w-full object-cover"
                            loading="lazy"
                        />
                    </div>
                    <div class="absolute rounded-2xl w-full h-auto max-w-xs -rotate-4">
                        <img src={imgSrc}  alt={title} 
                            class="h-full w-full object-cover blur-xl -z-20 transition"
                            loading="lazy"
                        >
                    </div>
                </div>
            </article>
        ) : variant === 'none' ? (
            <article class="flex justify-center items-center h-full w-full">
                <div class="text-center">
                    <h3 class="text-white font-bold text-5xl sm:text-4xl md:text-6xl">{title}</h3>
                </div>
            </article>
        ) :  variant === 'big' ? (
            <article class="flex flex-col justify-between items-center h-full">
                <div class="z-20">
                    <h3 class="text-white font-bold text-3xl sm:text-2xl md:text-3xl">{title}</h3>
                    {description && <p class="text-white text-lg md:text-xl">{description}</p>}
                </div>
                <div class="flex-1 flex items-center justify-center">
                    <div class="rounded-2xl z-10 overflow-hidden w-full h-auto shadow shadow-primary rotate-4">
                        <img 
                            src={imgSrc} 
                            alt={title} 
                            class="h-full w-full object-cover"
                            loading="lazy"
                        />
                    </div>
                    <div class="absolute rounded-2xl w-full h-auto -rotate-4">
                        <img src={imgSrc}  alt={title} 
                            class="h-full w-full object-cover blur-xl -z-20 transition"
                            loading="lazy"
                        >
                    </div>
                </div>
            </article>
        ) : (
            <article class="flex flex-col justify-between items-center h-full">
                <div class="z-20">
                    <h3 class="text-white font-bold text-3xl sm:text-2xl md:text-3xl">{title}</h3>
                    {description && <p class="text-white text-lg md:text-xl">{description}</p>}
                </div>
                <div class="flex-1 flex items-center justify-center">
                    <div class="rounded-2xl z-10 overflow-hidden w-full h-auto max-h-48 max-w-xs shadow shadow-primary rotate-4">
                        <img 
                            src={imgSrc} 
                            alt={title} 
                            class="h-full w-full object-cover"
                            loading="lazy"
                        />
                    </div>
                    <div class="absolute rounded-2xl w-full h-auto max-h-48 max-w-xs -rotate-4">
                        <img src={imgSrc}  alt={title} 
                            class="h-full w-full object-cover blur-xl -z-20 transition"
                            loading="lazy"
                        >
                    </div>
                </div>
            </article>
        )}
    </article>
</a>
